@tailwind base;
@tailwind components;
@tailwind utilities;


/* Your base theme settings */
@layer base {
  html {
    --color-primary: #194a7a;
    --color-primary-x: #181834;
    --color-secondary: #19243c;
    --color-secondary-x: #193044;
    --color-teretiary: #c4504c;
    --color-teretiary-x: #ed8b92;

    --text-primary: #A3DAFF;
    --text-secondary: #FFEC8B;
  }
  @import "../styles/theme1.css";
  @import "../styles/theme2.css";
  @import "../styles/theme3.css";
  @import "../styles/theme4.css";
  @import "../styles/theme5.css";
  @import "../styles/theme6.css";
  }
  


