html[data-theme="theme2"] {
    --color-primary: #718355;
    --color-primary-x: #87986A;
    --color-secondary: #97A97C;
    --color-secondary-x: #B5C99A;
    --color-teretiary: #CFE1B9;
    --color-teretiary-x: #E9F5DB;
    --text-primary: #2E4F29;
    --text-secondary: #2C2C2C;
    }
    

    