html[data-theme="theme3"] {
    --color-primary: #CEA0AA;
    --color-primary-x: #E9C2C5;
    --color-secondary: #FEE1DD;
    --color-secondary-x: #B8D8E3;
    --color-teretiary: #9DB0CE;
    --color-teretiary-x: #535878;
    }