html[data-theme="theme6"] {
    --color-primary: #FFC24B;
    --color-primary-x: #0E606B;
    --color-secondary: #1697A6;
    --color-secondary-x: #FFF4F1;
    --color-teretiary: #FFB3AE;
    --color-teretiary-x: #F47068;
    }