html[data-theme="theme5"] {
    --color-primary: #0A2344;
    --color-primary-x: #3B1D4A;
    --color-secondary: #6B1650;
    --color-secondary-x: #9C1057;
    --color-teretiary: #CC095D;
    --color-teretiary-x: #FD0363;
    }
    